@import "../../global.scss";

.topbar {
    padding-top: 8vh;
    margin: auto;
    width: 90vw;
    color:#ffb4a2;

    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: white;
    &::-webkit-scrollbar{
        display: none;
    }

    .wrapper {
        padding-right: 1vw;
        padding-left: 1vw;

        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .left {
            height: 40px;
            .logo {
                font-weight: 700;
                font-size: 62px;
                text-decoration: none;
            }

            overflow: hidden;

            @media only screen and (max-width: 600px) {
                margin-top: -1vh;
                height: 8vh;
            }
        }

        a {
            text-decoration: none;
            color: rgba(0, 0, 0, 0);
            -webkit-text-stroke-color: white;
        } 

        .middle {
            padding-left: 40%;
            width: 15%;
            height: 40px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            a {
                width: 40px;
                height: 40px;
                border-radius: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: background-color 0.25s ease-out 50ms
                
            }

            @media only screen and (max-width: 600px) {
                width: 20vh;
                height: 8vh;
            }

            .twitter:hover {
                background-color: $mainDark;
            }

            .linkedin:hover {
                background-color: $mainDark;
            }

            .instagram:hover {
                background-color: $mainDark;
            }
        }

        .right {
            height: 50px;
            font-size: 40px;

            @media only screen and (max-width: 600px) {
                display: none;
            }
        }
         
        .line {
            width:100%;
        }
    }

    @media only screen and (max-width: 600px) {
        padding-top: 10vh;
    }
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}