@import "../../global.scss";

.topbar {
    width: 100vw;
    height: 90px;
    color:#ffb4a2;

    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: white;
    &::-webkit-scrollbar{
        display: none;
    }

    .wrapper {
        padding-right: 1vw;
        padding-left: 1vw;
        margin-right: 2vw;
        display: flex;
        align-content: center;
        justify-content: space-between;
        
        .left {
            margin-top: 0;
            .logo {
                font-weight: 700;
                font-size: 62px;
                text-decoration: none;
            }
        }

        a {
            text-decoration: none;
            color: rgba(0, 0, 0, 0);
            -webkit-text-stroke-color: white;
        } 

        .middle {
            margin-left: 15%;
            width: 20%;
            padding-top: 20px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .twitter {
            }
            .instagram {
            }
        }

        .right {
            font-size: 40px;
        }
         
        .line {
            width:100%;
        }
    }
}