@import "../../global.scss";

.topbar {
    padding-top: 8vh;
    margin: auto;
    width: 90vw;
    color:#ffb4a2;

    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: white;
    &::-webkit-scrollbar{
        display: none;
    }

    .wrapper {
        padding-right: 1vw;
        padding-left: 1vw;

        display: flex;
        align-content: center;
        justify-content: space-between;
        
        .left {
            height: 40px;
            .logo {
                font-weight: 700;
                font-size: 62px;
                text-decoration: none;
            }
        }

        a {
            text-decoration: none;
            color: rgba(0, 0, 0, 0);
            -webkit-text-stroke-color: white;
        } 

        .middle {
            padding-left: 40%;
            width: 15%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            a {
                width: 40px;
                height: 40px;
                background-color: $mainDark;
                border-radius: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .right {
            height: 50px;
            font-size: 40px;
        }
         
        .line {
            width:100%;
        }
    }
}