@import "../../global.scss";

.portfolioHeader {
    height: 32vh;
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: white;

    font-size: 12vh;
    font-weight: 700;
    margin-left: 10vw;

    @media only screen and (max-width: 600px) {
        height: auto;
        margin-left: 6.5vw;
        font-size: 7vh;
    }

    @media only screen and (min-width: 2000px) {
        font-size: 5vh;
    }
}

.portfolio {
    display: flex;
    flex-direction: column;
    -webkit-text-stroke: 0.5px;
    -webkit-text-stroke-color: white;

    border-width: 2px;
    width: 100%;

    .object {
        display: flex;
        width: 90%;
        height: auto;

        flex-wrap: wrap;
        flex-direction: row;

        margin-left: 10vw;
        margin-bottom: 4vw;

        @media only screen and (max-width: 600px) {
            width: 100%;
        }

        .right {
            margin-top: 4vw;
        }

        .project {
            margin-right: calc(max(4vw, 40px));
            width: 40vw;
            height: 80vh;
            border-style: solid;
            color: $mainPinkLight;
            border-width: 0.5px;

            transition: background-color 0.25s ease-out 50ms;

            @media only screen and (max-width: 900px) {
                margin-top: 5vh;
                margin-left: auto;
                margin-right: auto;
                width: 80vw;
                height: 70vh;
            }
        }

        .img {
            height: 63%;
            width: 100%;

            transition: opacity 0.25s ease-out 50ms;
        }

        .img:hover {
            opacity: 0.9;
        }

        .project:hover {
            background-color: $highlight;
        }

        .crossed {
            background: 
                linear-gradient(to top left,
                    rgba(0,0,0,0) 0%,
                    rgba(0,0,0,0) calc(50% - 0.8px),
                    $mainPinkLight 50%,
                    rgba(0,0,0,0) calc(50% + 0.8px),
                    rgba(0,0,0,0) 100%),
                linear-gradient(to top right,
                    rgba(0,0,0,0) 0%,
                    rgba(0,0,0,0) calc(50% - 0.8px),
                    $mainPinkLight 50%,
                    rgba(0,0,0,0) calc(50% + 0.8px),
                    rgba(0,0,0,0) 100%);
       }

       .neighImg {
           object-fit: cover;
           width: 60%;
           overflow: hidden;
       }

       .forkstrawImg {
            width: 100%;
            overflow: hidden;
            object-fit: contain;
       }
    }

    @media only screen and (max-width: 600px) {
        font-size: 10vw;
    }

    @media only screen and (min-width: 1350px) {
        font-size: 5.5vw
    }
}
