@import "global.scss";

.app{
    height: 100vh;
    background-color: $main; 

    scroll-behavior: smooth;

    &::-webkit-scrollbar{
        display: none;
    }
    
    @media only screen and (max-width: 600px) {
          background-color: lightblue;
      }

    @media only screen and (min-width: 2000px) {
            background-color: rgb(177, 207, 95);
    }
}
