@import "../../global.scss";

.contact {
    background-color: $mainDark;
    height: 80vh;
    width: 100%;
}

.content {
    height: 100%;
    width: 50%;
    margin-right: 10vw;
    margin-left: 10vw;
    color: white;
}

.tag {
    margin-top: 10vh;
    font-size: 2.3vh;
    font-weight: 500;
    color: $mainPinkLight;
}

.interested {
    margin-top: 2vh;
    font-size: 8vh;
    font-weight: 700;
}

.emailbox {
    margin-top: 10vh;
    width: calc(100% - 2px);
    height: 10vh;
    border-style: solid;
    border-width: 0.5px;
    border-color: $mainPinkLight;
    transition: background-color 0.25s ease-out 50ms, font-size 0.1s ease-out 50ms; 

    font-size: 2.7vh;
    display: flex;
    flex-direction: row;
}

.emailbox:hover {
    background: $mainPinkLight;
    font-size: 2.62vh;
}

.mail {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100%;
    border-right: 0.5px solid $mainPinkLight;
    
}

.email {
    display: flex;
    margin-left: 5%;
    align-items: center;
    color: $mainPinkLighter;
    font-weight: 600;
}